
<div class="modal-header">
    <h2 class="modal-title" align="center">
        <span ng-if="book.Id==0">Add Book</span>
        <span ng-if="book.Id!=0">Edit Book</span>
    </h2>
</div>

<div class="modal-body">
    <div ng-show="isDialogDataLoading.Authors||isDialogDataLoading.Genres" style="text-align: center">
        <img class="img-circle" src="/Content/fonts/ProgressBar.GIF" alt="">
    </div>
    <div ng-hide="isDialogDataLoading.Authors||isDialogDataLoading.Genres">
        <div class="form-horizontal">
            <div class="col-md-12">
                <input class="form-control" placeholder="Name" ng-model="book.Name" />
            </div>
            <div class="col-md-12">
                <input class="form-control" placeholder="Isbn" ng-model="book.Isbn" />
            </div>
            <div class="col-md-12">
                <input class="form-control" placeholder="Etc" ng-model="book.Etc" />
            </div>
            <div class="form-inline">
                <div class="col-md-6">
                    <div ng-dropdown-multiselect="" options="AllAuthors" selected-model="book.Authors" extra-settings="AuthorDropDownSettings" translation-texts="AuthorCustomTexts"></div>
                </div>
                <div class="col-md-6">
                    <div ng-dropdown-multiselect="" options="AllGenres" selected-model="book.Genres" extra-settings="GenreDropDownSettings" translation-texts="GenreCustomTexts"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <p class="text-danger" ng-if="error">Fill the fields</p>
    <button class="btn btn-primary" ng-click="ok(book)">Ok</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
