
<div class="modal-header">
    <h2 class="modal-title" align="center">
        <span>Delete Item</span>
    </h2>
</div>

<div class="modal-body">
    <div class="col-md-12" align="center">
        <label>You are shure?</label>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="yes(data)">Yes</button>
    <button class="btn btn-warning" ng-click="no()">No</button>
</div>
