@{
    PageData["title"] = "CardIndex| Authors";
}

<div ng-hide="isLoading">

    <div class="col-md-12">
        <button class="btn btn-info" ng-click="authorDialog()">New Author</button>
    </div>

    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="author in authors" class="at-repeat-fly-reverse-in
         at-repeat-fly-reverse-out">
                <td>{{author.Id}}</td>
                <td>{{author.Name}}</td>
                <td><button class="btn btn-warning" ng-click="authorDialog(author)">Edit</button></td>
                <td><button class="btn btn-danger" ng-click="confirmationDialog(author)">Delete</button></td>
            </tr>
        </table>
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>