@{
    PageData["title"] = "AngularJS SPA | Genres";
}

<div ng-hide="isLoading">
    
    <div class="col-md-12">
        <button class="btn btn-info" ng-click="genreDialog()">New Genre</button>
    </div>

    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="genre in genres" class="at-repeat-fly-reverse-in
         at-repeat-fly-reverse-out">

                <td>{{genre.Id}}</td>
                <td>{{genre.Name}}</td>
                <td><button class="btn btn-warning" ng-click="genreDialog(genre)">Edit</button></td>
                <td><button class="btn btn-danger" ng-click="confirmationDialog(genre)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>