@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}
<div ng-hide="isLoading">

    <div class="col-md-12">
        <button class="btn btn-info" ng-click="bookDialog()">New Book</button>
    </div>

    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>
                    <a id="link-1" href ng-click="sort('Id')">
                        Id
                        <span ng-if="sortParam.column=='Id'">
                            <span ng-if="sortParam.direction=='asc'" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortParam.direction=='desc'" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort('Name')">
                        Name
                        <span ng-if="sortParam.column=='Name'">
                            <span ng-if="sortParam.direction=='asc'" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortParam.direction=='desc'" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort('Isbn')">
                        ISBN
                        <span ng-if="sortParam.column=='Isbn'">
                            <span ng-if="sortParam.direction=='asc'" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortParam.direction=='desc'" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort('Etc')">
                        etc
                        <span ng-if="sortParam.column=='Etc'">
                            <span ng-if="sortParam.direction=='asc'" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortParam.direction=='desc'" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    Genres
                </th>
                <th>
                    Authors
                </th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="(bookIndex, book) in books">
                <td>{{book.Id}}</td>
                <td>{{book.Name}}</td>
                <td>{{book.Isbn}}</td>
                <td>{{book.Etc}}</td>
                <td>
                    <span ng-repeat="genre in books[bookIndex].Genres">
                        <span ng-if="genre.Genre.Name">{{genre.Genre.Name}}<br /></span>
                        <span ng-if="!genre.Genre.Name">{{genre.Name}}<br></span>
                    </span>
                </td>
                <td>
                    <span ng-repeat="author in books[bookIndex].Authors">
                        <span ng-if="author.Author.Name">{{author.Author.Name}}<br /></span>
                        <span ng-if="!author.Author.Name">{{author.Name}}<br></span>
                    </span>
                </td>

                <td><button class="btn btn-warning" ng-click="bookDialog(book)">Edit</button></td>
                <td><button class="btn btn-danger" ng-click="confirmationDialog(book)">Delete</button></td>
            </tr>
        </table>
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>
