@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}
<div ng-hide="isLoading">

    <div class="col-md-12">
        <button class="btn btn-info" ng-click="bookDialog()">New Book</button>
    </div>

    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>
                    <a id="link-1" href ng-click="sort(0)">
                        Id
                        <span ng-if="sortColumn==0">
                            <span ng-if="!sortDirection" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortDirection" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort(1)">
                        Name
                        <span ng-if="sortColumn==1">
                            <span ng-if="!sortDirection" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortDirection" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort(2)">
                        ISBN
                        <span ng-if="sortColumn==2">
                            <span ng-if="!sortDirection" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortDirection" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort(3)">
                        etc
                        <span ng-if="sortColumn==3">
                            <span ng-if="!sortDirection" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortDirection" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort(4)">
                        Genres
                        <span ng-if="sortColumn==4">
                            <span ng-if="!sortDirection" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortDirection" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort(5)">
                        Authors
                        <span ng-if="sortColumn==5">
                            <span ng-if="!sortDirection" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortDirection" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="(bookIndex, book) in books">
                <td>{{book.Id}}</td>
                <td>{{book.Name}}</td>
                <td>{{book.Isbn}}</td>
                <td>{{book.Etc}}</td>
                <td>
                    <span ng-repeat="genre in books[bookIndex].Genres">
                        <span ng-if="genre.Genre.Name">{{genre.Genre.Name}}<br /></span>
                        <span ng-if="!genre.Genre.Name">{{genre.Name}}<br></span>
                    </span>
                </td>
                <td>
                    <span ng-repeat="author in books[bookIndex].Authors">
                        <span ng-if="author.Author.Name">{{author.Author.Name}}<br /></span>
                        <span ng-if="!author.Author.Name">{{author.Name}}<br></span>
                    </span>
                </td>

                <td><button class="btn btn-warning" ng-click="bookDialog(book)">Edit</button></td>
                <td><button class="btn btn-danger" ng-click="confirmationDialog(book)">Delete</button></td>
            </tr>
        </table>
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>
