@{
    PageData["title"] = "CardIndex";
}
<div ng-hide="isLoading">

    <div class="row">
        <div class="col-md-3">
            <span>Filter:</span>
            <input type="text" ng-model="filterValue" />
        </div>
        <div class="col-md-3">
            <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <span ng-if="!currentFilter"> Filter type</span>
                    <span ng-if="currentFilter">{{currentFilter}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="param in filterTypes"><a href ng-click="filter(param)">{{param}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <button class="btn btn-info" ng-click="bookDialog()">New Book</button>
    </div>

    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>
                    <a id="link-1" href ng-click="sort('Id')">
                        Id
                        <span ng-if="sortParam.column=='Id'">
                            <span ng-if="sortParam.direction=='asc'" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortParam.direction=='desc'" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort('Name')">
                        Name
                        <span ng-if="sortParam.column=='Name'">
                            <span ng-if="sortParam.direction=='asc'" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortParam.direction=='desc'" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort('Isbn')">
                        ISBN
                        <span ng-if="sortParam.column=='Isbn'">
                            <span ng-if="sortParam.direction=='asc'" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortParam.direction=='desc'" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    <a id="link-1" href ng-click="sort('Etc')">
                        etc
                        <span ng-if="sortParam.column=='Etc'">
                            <span ng-if="sortParam.direction=='asc'" class="glyphicon glyphicon-arrow-up"></span>
                            <span ng-if="sortParam.direction=='desc'" class="glyphicon glyphicon-arrow-down"></span>
                        </span>
                    </a>
                </th>
                <th>
                    Genres
                </th>
                <th>
                    Authors
                </th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="(bookIndex, book) in books">
                <td>{{book.Id}}</td>
                <td>{{book.Name}}</td>
                <td>{{book.Isbn}}</td>
                <td>{{book.Etc}}</td>
                <td>
                    <span ng-repeat="genre in books[bookIndex].Genres">
                        <span ng-if="genre.Genre.Name">{{genre.Genre.Name}}<br /></span>
                        <span ng-if="!genre.Genre.Name">{{genre.Name}}<br></span>
                    </span>
                </td>
                <td>
                    <span ng-repeat="author in books[bookIndex].Authors">
                        <span ng-if="author.Author.Name">{{author.Author.Name}}<br /></span>
                        <span ng-if="!author.Author.Name">{{author.Name}}<br></span>
                    </span>
                </td>

                <td><button class="btn btn-warning" ng-click="bookDialog(book)">Edit</button></td>
                <td><button class="btn btn-danger" ng-click="confirmationDialog(book)">Delete</button></td>
            </tr>
        </table>
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>
